h1{
    font-size: 4em;
}
.learnedtitle{
    margin-bottom: 30px;
}
#learnedtoday{
    width: 60%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.lineseparator{
    width: 300px;  
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px dashed rgb(200,200,200);
}
.stuffpage, .learnedstuff{
    margin-top: 30px; 
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.stuffpage{
    margin-top: 100px;   
}
.stufflist{
    text-align: center;
    margin-top: 20px;
}
.plusviewmore{
    color: #f13c76;
}
.plusviewmore:hover{
    color: #e20048;
}
.viewmore{
    font-size: 10pt;   
    color: #f13c76;
}
.hashtag{
    color: #428bca;   
}
.navbar_logo{
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -23px;
}
.navbar-default {
    background-color: #fff;
    border-color: #E7E7E7;
}