<template name="home">
    <div id="learnedtoday">
        <div class="learnedtitle">
            <h1><p class="text-center">What did you learn today ?</p></h1>
        </div>
        {{#if currentUser}}
        <div class="input-group input-group-lg">
            <input type="text" class="form-control"  placeholder="Write something..." id="post">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="add">Yup</button>
            </span>
        </div>
        {{else}}
            <h3><p class="text-center">Please sign in to write</p></h3>
        {{/if}}
    </div>
    <div class="lineseparator"></div>
    <div class="learnedstuff">
        <div>
            <h2><p class="text-center">Some stuff that people learned...</p></h2>
        </div>
        <div class="stufflist" id="stufflist">
            {{#each post}}
            <h6>{{{name}}}<small> {{date}}</small>   
                <span class="buttonlike" id="{{id}}"><button type="button" class="btn btn-default btn-lg" ><span  class="glyphicon glyphicon-thumbs-up"></span> </button> </span>               {{like}} likes
            </h6>
            {{/each}}
            <a href="/stuff" class="plusviewmore">+ <span class="viewmore">view more</span></a>
        </div>
    </div>
    
</template>